body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
margin-top: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-style: normal;
color: azure;
background-color: #000000;
}

.slider {
display: flex;
flex-wrap: wrap;
align-items: center;
width: 80%;
max-width: 1080px;
padding: 50px;
border-radius: 10px;
border: 6px solid #5a5e59;
background-color: #242c22;
}

.slider-mems {
width: 100%;
height: auto;
border-radius: 16px;
overflow: hidden;
}

.mem-container {
display: flex;
width: 400%;
transition: 0.3s linear;
}

.mem-img {
width: 25%;
height: 600px;
}

.slider-radio {
display: flex;
margin-top: 30px;
justify-content: flex-end;
width: 30%;
}

.radio-input {
display: none;
}

.radio-label {
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
padding: 10px;
margin: 0 5px;
border-radius: 50%;
background-color: #0062f5;
background-clip: content-box;
cursor: pointer;
transition: 0.3s linear;
}

.radio-span {
width: 24px;
height: 24px;
border-radius: 50%;
}

.slider-text {
width: 70%;
height: auto;
margin-top: 30px;
overflow: hidden;
}

.text-container {
display: flex;
flex-wrap: nowrap;
width: 400%;
transition: 0.3s linear;
}

.mem-text {
width: 25%;
font-size: 24px;
}

.slider:has(#radio0:checked) .mem-container,
.slider:has(#radio0:checked) .text-container {
  transform: translateX(0);
}

.slider:has(#radio1:checked) .mem-container,
.slider:has(#radio1:checked) .text-container{
  transform: translateX(-25%);
}

.slider:has(#radio2:checked) .mem-container,
.slider:has(#radio2:checked) .text-container {
  transform: translateX(-50%);
}

.slider:has(#radio3:checked) .mem-container,
.slider:has(#radio3:checked) .text-container{
  transform: translateX(-75%);
}

.radio-label:hover {
  background-color: white;
}

.radio-label:active {
  transform: scale(2);
}

.radio-input:checked + .radio-label .radio-span {
  background-color: #242c22;
}

@media (max-width: 970px) {
.slider-text {
    width: 100%;
    order: 1;
}
.mem-img{
    height: 400px;
}
.slider-radio {
    justify-content: center;
    width: 100%;
}
}
@media(max-width:640px){
    .mem-text{
        font-size: 20px;
    }
    .mem-img{
        height: 300px;
    }
}
@media(max-width:440px){
    .mem-img{
        height: 200px;
    }
    .mem-text{
        font-size: 14px;
    }
    .radio-label {
        width: 22px;
        height: 22px;
    }
    .radio-span{
        width: 16px;
        height: 16px;
    }
}